.satauri1{
    color: black;
}
.paragrapi1{
    color: 
    #FF0000;
}
.satauri2{
    color: 
    #2400FF;
}
.paragrapi2{
    color: #FF2929;
}
.satauri3{
    color: 
    #00461C;
}
